.carousel-section {
    background-color: #f9f9f9;
    padding: 60px 20px;
    text-align: center;
  }
  
  .carousel-section h2 {
    color: #1A472A;
    font-size: 2rem !important;
    margin-bottom: 20px;
  }
  
  .carousel-item img {
    width: 100%;
    height: auto; /* Preserve the aspect ratio */
    object-fit: contain; /* Ensures the full image is displayed without cropping */
    max-height: 400px; /* Optional: set a max-height to control the image's height */
    margin: 0 auto; /* Center the image */
    border-radius: 8px; /* Optional for rounded corners */
    box-shadow: none !important; /* Ensures images also don't have shadows */

  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: rgba(26, 71, 42, 0.7); /* Dark green background for controls */
    border-radius: 50%;
    padding: 10px;
  }


  .carousel {
    box-shadow: none !important; /* Removes any shadow applied to the carousel */
  }
  
  
  @media (max-width: 768px) {

    
    .carousel-section p {
      font-size: 1rem !important; /* Smaller font size for paragraph */
      line-height: 1.1 !important;
    }
  
    .carousel-section h2{
      font-size: 1.5rem !important; /* Smaller font size for heading */
  
    }
    .carousel-section h3{
      font-size: 1.2rem !important; /* Smaller font size for heading */
  
  
    }
  }
  