.footer {
  background-color: #fff;
  color: #1A472A; /* Slightly transparent white text */
  padding: 10px 20px; /* Compact padding for a slim design */
  font-size: 0.85rem;
}

.footer-info {
  flex: 1; /* Allow it to occupy the remaining space */
  display: flex;
  flex-wrap: wrap; /* Ensure responsiveness */
  gap: 10px; /* Add spacing between items */
  align-items: center;
  color: #1A472A; /* Slightly transparent white text */
  opacity: 0.6;
}

.footer-info span {
  display: inline-block; /* Keep all text inline */
}

.footer-links {
  display: flex;
  gap: 15px; /* Spacing between links */
}

.footer-links a {
  color: #1A472A; /* Slightly transparent white text */
  text-decoration: none;
  font-weight: 600;
}

.footer-links a:hover {
  color: #8d92e0; /* Light green hover effect */
}

.copyright {
  font-size: 0.9rem ;
  color: #1A472A; /* Slightly transparent white text */
  margin-top: 10px;
  opacity: 0.4;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column; /* Stack content vertically on smaller screens */
    text-align: center;
    padding: 20px; /* Adjust padding for mobile */
  }

  .footer-links {
    order: 1; /* Ensure links are on the first line */
    justify-content: center;
    margin-bottom: 10px; /* Space between links and footer-info */
  }

  .footer-info {
    order: 2; /* Ensure footer info is on the second line */
    justify-content: center;
    margin-bottom: 10px; /* Space between footer-info and copyright */
  }

  .copyright {
    order: 3; /* Ensure copyright is at the bottom */
    font-size: 0.9rem;
    color: #1A472A;
    opacity: 0.4;
  }
}