.sustainability-section {
  position: relative;
  padding: 1.5rem 0 ;
  background-color: #C3CCEB;
}

.sustainability-section img {
  width: 100%; /* Full width of the device */
  height: 75vh; /* Maintain aspect ratio */
  object-fit: contain; /* Ensure it fills the width */
  display: block;
  margin: 0 auto; /* Center align the image */
}

.sustainability-section h2 {
  color: #1A472A;
  font-size: 2rem !important;

}

.sustainability-section p {
  color: #1A472A;
  margin-bottom: 1.5rem;
    font-size: 1.1rem !important;
    line-height: 1.5 !important;
    text-align: center;
}




@media (min-width: 768px) {
  .banner-image {
    width: 100%; /* Adjust width for larger screens */
  }
}


@media (max-width: 768px) {

    
  .sustainability-section p {
    font-size: 1rem !important; /* Smaller font size for paragraph */
    line-height: 1.1 !important;
  }

  .sustainability-section h2{
    font-size: 1.5rem !important; /* Smaller font size for heading */

  }
  .sustainability-section h3{
    font-size: 1.2rem !important; /* Smaller font size for heading */


  }

  .sustainability-section img {
    width: 100%; /* Full width of the device */
    height: 20vh; /* Maintain aspect ratio */
    object-fit: contain; /* Ensure it fills the width */
    display: block;
    margin: 0 auto; /* Center align the image */
  }
  
}

