
  .about-section {
    position: relative;
    text-align: center;
    background-color: #C2E08D;
    padding: 2rem 0;
  }
  
  .about-section img {
    width: 100%; /* Full width of the device */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Ensure it fills the width */
    display: block;
    margin: 0 auto; /* Center align the image */
  }
  
  .about-section h2 {
    font-size: 2rem !important;
    color: #1A472A; /* Matches your preferred dark green */
  }
  
  .about-section p {
    color: #333; /* Adjust for readability */
    margin-bottom: 1.5rem;
    font-size: 1.1rem !important;
    line-height: 1.5 !important;
  }
  
  
  
  @media (min-width: 768px) {
    .about-section img {
      width: 100%; /* Adjust width for larger screens */
    }
  }

  @media (max-width: 768px) {

    
    .about-section p {
      font-size: 1rem !important; /* Smaller font size for paragraph */
      line-height: 1.1 !important;
    }

    .about-section h2{
      font-size: 1.5rem !important; /* Smaller font size for heading */

    }
  }