.products-section {
  padding: 40px 20px;
  background-color: #fff;
}

.products-section h2 {
  text-align: center;
  color: #1A472A;
  margin-bottom: 30px;
  font-size: 2rem !important;

}

.product {
  background-color: #C3CCEB;
  border-radius: 8px;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.product:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product h3 {
  color: #1A472A;
  font-weight: bold;
  font-size: 1rem;
}

.product p {
  color: #1A472A;
  font-size: 1rem;
}

.products-section .card-img-top {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  object-fit: contain; /* Prevent cropping */
  background-color: #fff;
  padding: 10px;
}

.card-body {
  padding: 10px;
  text-align: center;
}


@media (max-width: 768px) {

    
  .products-section p {
    font-size: 1rem !important; /* Smaller font size for paragraph */
    line-height: 1.1 !important;
  }

  .products-section h2{
    font-size: 1.5rem !important; /* Smaller font size for heading */

  }
  .products-section h3{
    font-size: 1.2rem !important; /* Smaller font size for heading */


  }
}