.sustainability-section {
  position: relative;
  padding: 2rem 0 ;
  background-color: #C3CCEB;
  text-align: center;
}

.sustainability-section img {
  width: 100%; /* Full width of the device */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Ensure it fills the width */
  display: block;
  margin: 0 auto; /* Center align the image */
}

.sustainability-section h2 {
  color: #1A472A;
  font-size: 2rem;
  margin-bottom: 20px;
}

.sustainability-section p {
  color: #1A472A;
  margin-bottom: 1.5rem;
    font-size: 1.1rem !important;
    line-height: 1.5 !important;
}





@media (min-width: 768px) {
  .banner-image {
    width: 100%; /* Adjust width for larger screens */
  }
}
